/* common */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(67, 68, 85, 1);
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
/* common */
:root {
  --text-color: #f4f4fd;
  --hover-link-color: #404bbf;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 120px 0;
}

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}
.header-span {
  color: #2e2f42;
}
.header-list-link {
  display: block;
  position: relative;
  font-weight: 500;
  color: rgba(46, 47, 66, 1);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 0.7s;
}
.header-list-link::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  border-radius: 2px;
  width: 100%;
  padding: 2px 0;
  background-color: transparent;
  transition: background-color 0.7s;
}
.header-list-link:active,
.header-list-link:hover,
.header-list-link:focus {
  color: var(--hover-link-color);
}
.header-list-link:active::after,
.header-list-link:hover::after,
.header-list-link:focus::after {
  background-color: var(--hover-link-color);
}
.header-address {
  font-style: normal;
}
.address-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
}
.address-list-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 0.7s;
}
.address-list-link:active,
.address-list-link:hover,
.address-list-link:focus {
  color: var(--hover-link-color);
}
/* HEADER */

/* SERVICE */
.service {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: rgba(46, 47, 66, 1);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  letter-spacing: 1.12px;
  text-align: center;
}
.service-title {
  max-width: 496px;
  margin: 0 auto 48px;
  color: rgba(255, 255, 255, 1);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}
.service-button {
  color: #ffffff;
  display: block;
  min-width: 169px;
  margin: 0 auto;
  background-color: rgba(77, 90, 229, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  transition: background-color 0.7s;
}
.service-button:hover,
.service-button:focus {
  background-color: rgba(64, 75, 191, 1);
}

/* SERVICE */

/* FEATURES */
.features {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-second-title {
  font-size: 20px;
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
/* FEATURES */
/* TEAM */
.team {
  background-color: rgba(244, 244, 253, 1);
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
}

.team-section-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.person-info {
  padding: 32px 0;
}
.team-item-image {
}
.team-item-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}
.team-item-text {
  text-align: center;
}
/* TEAM */

/* PORTFOLIO */
.portfolio-setion-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-item-image {
}
.portfolio-details {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-item-text {
}
/* PORTFOLIO */

/* FOOTER */

.footer {
  background-color: rgba(46, 47, 66, 1);
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--text-color);
  max-width: 264px;
}
.footer-span {
  color: #f4f4fd;
}
/* FOOTER */
